* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header1 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
}



.regular-64 {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
}

.medium-14 {
  font-size: 14px;
  font-weight: 500;
}

.bold-64 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

/* Utilities */

.active-link {
  color: #6c63ff;
  /* Example 'text-secondary' */
  position: relative;
}

.active-link::after {
  content: "";
  width: 0.375rem;
  /* 1.5 */
  height: 0.375rem;
  border-radius: 9999px;
  background-color: #6c63ff;
  position: absolute;
  bottom: -0.625rem;
  /* -2.5 */
  left: 7px;
}

/* Buttons */
.btn-white {
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  color: #1f2937;
  /* tertiary */
  padding: 0.875rem 1.75rem;
  border-radius: 9999px;
}

.btn-dark {
  font-size: 14px;
  font-weight: 500;
  background-color: #1f2937;
  /* tertiary */
  color: white;
  padding: 0.875rem 1.75rem;
  border-radius: 9999px;
}

.btn-light {
  font-size: 14px;
  font-weight: 500;
  background-color: #f3f4f6;
  /* primary */
  border: 1px solid rgba(15, 23, 42, 0.1);
  padding: 0.875rem 1.75rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.btn-light:hover {
  background-color: white;
}

.btn-outline {
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  border: 1px solid rgba(15, 23, 42, 0.1);
  padding: 0.875rem 1.75rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #f3f4f6;
}

.btn-secondary {
  font-size: 14px;
  font-weight: 500;
  background-color: #6c63ff;
  /* secondary */
  color: white;
  padding: 0.875rem 1.75rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

/* Layout Utilities */
.max-padd-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .max-padd-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Base Typography */
.h1 {
  font-size: 45px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 55px;
    line-height: 1.3;
  }
}

.h2 {
  font-size: 25px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .h2 {
    font-size: 35px;
    line-height: 1.3;
  }
}

.h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .h3 {
    font-size: 28px;
    line-height: 1.3;
  }
}

.h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .h4 {
    font-size: 17px;
  }
}

.h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .h5 {
    font-size: 15px;
  }
}

p {
  font-size: 14px;
  line-height: 1.3;
  color: #a0aec0;
  /* example gray-30 */
}